/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
 */
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
button {
  display: block;

  background-color: rgb(56, 56, 56);
  border: none;
  color: inherit;
  font-family: inherit;
  transition:
    background-color 200ms ease-in-out,
    outline 200ms ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  outline: 2px solid rgb(56, 56, 56);
  border-radius: 1px;
}

button:hover {
  background-color: rgb(60, 60, 60);
  outline: 2px solid rgb(167, 167, 167);
}

.hidden {
  visibility: hidden;
  display: none !important;
}
.title-screen {
  font-family: "Sansation", sans-serif;
  color: rgb(204, 204, 204);
  background-color: rgb(36, 36, 36);
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;
}
.big-button {
  font-size: 4.5em;
  padding: 10px 20px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

.how-button {
  font-size: 2rem !important;
  box-shadow: 0 0 20px white;
}

.play-button {
  box-shadow: 0 0 20px white;
}

.play-info {
  font-size: 2rem;
  max-width: 640px;
  overflow: hidden;
  height: 0;
  transition: height 500ms ease-in-out;
  text-align: center;
  color: rgb(175, 175, 175);
}

.play-info.expanded {
  height: 300px;
}

.play-info .important {
  font-weight: bold;
  font-size: 2.1rem;
  color: rgb(204, 204, 204);
  text-shadow: 0 0 3px white;
}

#game {
  font-family: "Sansation", sans-serif;
  line-height: 1.6;
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

#game.dark {
  color: rgb(204, 204, 204);
  background-color: rgb(36, 36, 36);
}

#game.dark a {
  color: rgb(71, 185, 230);
}
.no-access {
  pointer-events: none;
  opacity: 0.2;
}

.score-negative {
  color: rgb(231, 111, 111);
}

.score-positive {
  color: rgb(165, 245, 158);
}

.toast-message {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -4em;
  font-size: 3em;
  opacity: 0;
  font-weight: bolder;
  text-shadow: 0 0 7px black;
  transition: 500ms ease-in-out;
  z-index: 3;
}

.toast-message.active {
  top: 70px;
  opacity: 1;
}

.midsection {
  display: grid;
  grid-template-columns: 100px 1fr;
  flex: 1 1 auto;
  height: 100%;
  min-height: 0;
}

.override-table-content {
  background-color: rgba(109, 109, 109, 0.185) !important;
  color: rgb(204, 204, 204) !important;
}

.z-up {
  z-index: 3;
}
