/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
 */
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
button {
  display: block;

  background-color: rgb(56, 56, 56);
  border: none;
  color: inherit;
  font-family: inherit;
  transition:
    background-color 200ms ease-in-out,
    outline 200ms ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  outline: 2px solid rgb(56, 56, 56);
  border-radius: 1px;
}

button:hover {
  background-color: rgb(60, 60, 60);
  outline: 2px solid rgb(167, 167, 167);
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.big-button {
  font-size: 4.5rem;
  padding: 10px 20px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

.score-negative {
  color: rgb(226, 90, 90);
}

.score-positive {
  color: rgb(165, 245, 158);
}

.toast-message {
  position: fixed;
  transform: translateX(-50%);
  top: 52px;
  right: -7em;
  font-size: 2em;
  opacity: 0;
  font-weight: bolder;
  text-shadow: 0 0 10px rgb(36, 36, 36);
  transition: 500ms ease-in-out;
  z-index: 3;
  text-align: left;
}

.toast-message.active {
  right: -15px;
  opacity: 1;
}

.z-up {
  z-index: 3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(63, 63, 63);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(185, 185, 185);
}

::selection {
  background-color: rgba(192, 192, 192, 0.39);
}

/* ARTICLE STYLES */

#article .a {
  text-decoration: none;
  color: rgb(19, 149, 235);
}

#article.dark .infobox-header {
  background-color: rgb(70, 70, 70) !important;
}

#article table.infobox {
  float: right;
  margin-left: 10px;
  padding: 8px;
}

#article.dark table.infobox {
  border: 2px solid rgb(61, 61, 61);
  background-color: rgba(223, 223, 223, 0.055);
}

.image-hidden {
  position: relative;
  cursor: not-allowed;
  filter: brightness(0%);
  z-index: -1;
}

.image-hidden-wrapper:has(.image-hidden) {
  background-color: rgb(0, 0, 0);
  width: fit-content;
  max-height: fit-content;
  z-index: 1;
}

.override-table-content {
  background-color: rgba(109, 109, 109, 0.185) !important;
  color: rgb(204, 204, 204) !important;
}

/* MODALS */
.modal {
  background-color: rgb(24, 24, 24);
  border: none;
  color: inherit;
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.664);
  outline: none;
  max-width: 90vw;
  max-height: 90vh;
}

.modal[open] {
  display: flex;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.74);
}
.modal .modal-contents {
  padding: 8px 30px;
}

/* OTHER POPUPS STYLES */

.finish-popup-container {
  text-align: center;
}

.give-up-popup-container {
  text-align: center;
}
